
<div class="jumbotron">
  <div class = "main">
  <h1>All aboard!</h1>
  <button class="btn btn-primary start">
    Find your destination
  </button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>WDI 18 Express</h1>
      <div class="together">
        <h5>Start stop: </h5><div class="one"></div>
                           <div class="two"></div>
        <h5>End stop: </h5><div class="three"></div>
                         <div class="four"></div>
      </div>

      <h5>result</h5>
      <div class="result"></div>

      <h5 class="wrong">Error</h5>
      <div class="error"></div>

      <h5>Nline</h5>
        <button class="btn btn-primary times_square">Times Square</button>
        <button class = "btn btn-primary 34th">34th</button>
        <button class="btn btn-primary 29th">29th</button>
        <button class="btn btn-primary 23rd">23rd</button>
        <button class="btn btn-primary union_square_N">Union Square</button>
        <button class="btn btn-primary 8thN">8th</button>
      <h5>Lline</h5>
        <button class="btn btn-primary 8th">8th</button>
        <button class="btn btn-primary 6th">6th</button>
        <button class="btn btn-primary union_square_L">Union Square</button>
        <button class="btn btn-primary 3rd">3rd</button>
        <button class="btn btn-primary 1st">1st</button>
      <h5>Six line</h5>
        <button class="btn btn-primary grand_central">Grand Central</button>
        <button class="btn btn-primary 33rd">33rd</button>
        <button class="btn btn-primary 29thS">29th</button>
        <button class="btn btn-primary union_square_S">Union Square</button>
        <button class="btn btn-primary astor_place">Astor Place</button>
      <br>
        <button class="btn btn-success final">Find my way</button>
        <button class="btn btn-warning clear">New trip?</button>
    </div>
    <div class="col-md-6">
      <div class="image_wrap">
        <h1 class="describe">WDI Town</h1>
        <div id="img">
          <img id="theImg" class="img-rounded img-responsive" src="http://washingtonchampionsleague.com/wp-includes/pomo/new-york-city-subway-train-i11.jpg" />
        </div>
        <p class="explain">Come plan your trip with us and learn about the strange wonders of WDI Town!</p>
      </div>
    </div>
  </div>
</div>
