<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container2">
    <%= link_to "WDI18", root_path, method: :get, id: "logo" %>
    <nav>
      <ul id="main-nav" class="nav navbar-nav navbar-right">
        <li><%= link_to "About WDI18", pages_about_path %></li>
        <li><%= link_to "Contact us", pages_contact_path %></li>
        <li><%= link_to "Help", pages_help_path %></li>
      </ul>
    </nav>
  </div>
</header>
